
.Profile {
    flex-wrap: wrap;
    align-content: baseline;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 10px;
    height: 90vh;
    width: fit-content;

    &-Data {
        margin-right: 10px;
    }

    &-Card {
        width: 100%;
    }

    &-Decision {
        margin-left: 20px;

        &-Buttons {
            width: 100%;
            justify-content: space-between;
            flex-basis: max-content;
        }
    }
}